.colors-table {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.pallete-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.pallete-grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.color-swatch {
  display: block;

  /* padding-bottom: 100%; */
  border-radius: 6px;
}

.color-swatch-label {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}
